.DS_Store
*.BACKUP.*
*.bak
*.BASE.*
*.hmap
*.ipa
*.LOCAL.*
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.REMOTE.*
*.swo
*.swp
*.xccheckout
*.xcuserdatad
*.xcuserstate
*\*merge\**
build/
DerivedData
xcuserdata
